@using FamilyIslandHelper.Api;
@using System.Collections;
@using FamilyIslandHelper.Api.Models.Abstract;
@model CompareViewModel

@{
	ViewData["Title"] = "Compare Page";
}

<body>
	<form id="mainForm" method="post" action="~/Compare/Index">
		<div id="CommonSettings" class="commonSettings">
			@Html.CheckBoxFor(m => m.ShowListOfComponents)
			@Html.LabelFor(m => m.ShowListOfComponents)
			<input type="submit" value="Compare" class="submit">
		</div>

		<div id="Component1" class="component">
			<p>Component1</p>

			<div>
				@Html.LabelFor(m => m.BuildingName1, "Buildings:")
				@Html.DropDownListFor(m => m.BuildingName1, new SelectList(@Model.BuildingsNames))
			</div>
			<div>
				<label>Produce ratio: </label>@Html.DisplayFor(m => m.Building1ProduceRatio)
			</div>
			<div>
				@Html.LabelFor(m => m.ItemName1, "Items:")
				@Html.DropDownListFor(m => m.ItemName1, new SelectList(@Model.Items1))
			</div>
			<div>
				@Html.LabelFor(m => m.ItemCount1, "Item count:")
				@Html.TextBoxFor(m => m.ItemCount1)
			</div>
			<div>
				<textarea id="ItemInfo1" name="ItemInfo1">@Model.ItemInfo1</textarea>
			</div>
		</div>

		<div id="Component2" class="component">
			<p>Component2</p>

			<div>
				@Html.LabelFor(m => m.BuildingName2, "Buildings:")
				@Html.DropDownListFor(m => m.BuildingName2, new SelectList(@Model.BuildingsNames))
			</div>
			<div>
				<label>Produce ratio: </label>@Html.DisplayFor(m => m.Building2ProduceRatio)
			</div>
			<div>
				@Html.LabelFor(m => m.ItemName2, "Items:")
				@Html.DropDownListFor(m => m.ItemName2, new SelectList(@Model.Items2))
			</div>
			<div>
				@Html.LabelFor(m => m.ItemCount2, "Item count:")
				@Html.TextBoxFor(m => m.ItemCount2)
			</div>
			<div>
				<textarea id="ItemInfo2" name="ItemInfo2">@Model.ItemInfo2</textarea>
			</div>
		</div>
	</form>
</body>
